@import "../../pages/styles/colors.scss";

.projecthome {
    padding-top: 8rem;
    padding-bottom: 8rem;
    
    
    .project__columns {
        align-items: center;
    }
    
    .description {
        
        .project__description {
            display: flex;
            margin-bottom: 4rem;
            color: $light-300;
            
            hr {
                position: relative;
                top: .75rem;
                margin: 0 1rem;
                width: 2rem;
                height: 1px;
                background: $light-200;
            }
        }
        
        
        .projecttitle,
        .subtitle {
            position: relative;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: calc(1.5rem * 1.6);
            color: $dark-200;
        }

        .projecttitle {
            transition: $hover;
        }

        .subtitle {
            display: inline-block;
            font-weight: 400;
            color: $light-300;
        }
    }
    
    .thumbnail {
        
        img {
            position: relative;
            transform: scale(1);
            transition: $hover;
        }
    }
    
    a {
        &:hover .projecttitle {
            color: $blue-100;
        }
        
        &:hover img {
            transform: scale(1.025);
            box-shadow: $soft-xl;
        }
    }
}


@media (max-width: 768px) {
    .projecthome {
        padding-top: 3rem;
        padding-bottom: 3rem;

        .project__columns {
            display: flex;
            flex-direction: column-reverse;
        }

        .description {
            .project__description {
                margin-top: 1rem;
                margin-bottom: 2rem;
            }

            .projecttitle,
            .subtitle {
                font-size: 1.25rem;
                line-height: calc(1.25rem * 1.6);
            }
        }
    }
}


// Removing Hover on Touch Devices


@media (max-width: 768px) {
    .projecthome {
        .project__columns {
            a {
                &:hover {
                    .projecthome {
                        
                    }

                    img {
                        transform: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}