@import "../../pages/styles/colors.scss";

.projecthome {
    padding-top: 8rem;
    padding-bottom: 8rem;

    .project__columns {
        align-items: center;
    }

    .description {

        .client {
            margin-bottom: 6rem;
            font-size: .875rem;
            font-weight: 600;
            letter-spacing: .125rem;
            text-transform: uppercase;
            color: $light-300;
        }
    
        .projecttitle {
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 500;
        }
    
        .subtitle {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            line-height: 2.25rem;
            color: $light-300;
        }
    
        .tags {
            margin-bottom: 10%;
            font-size: 1rem;
            color: $light-300;
            word-spacing: 1rem;
        }

    }

    .thumbnail {
        // overflow: hidden;
        
        a {

            img {
                position: relative;
                transform: scale(1);
                transition: $hover;
            }
            
            &:hover img {
                transform: scale(1.025);
                box-shadow: $soft-xl;
            }
        }

    }
}


@media (max-width: 768px) {
    .project__columns {
        display: flex;
        flex-direction: column-reverse;
    }
}