@import "../../pages/styles/colors.scss";

.projecthome {

    .description {

        .client {
            margin-bottom: 10%;
            font-size: .875rem;
            font-weight: 600;
            letter-spacing: .125rem;
            text-transform: uppercase;
            color: $light-300;
        }
    
        .projecttitle {
            font-size: 2.5rem;
            font-weight: 700;
        }
    
        .subtitle {
            margin-bottom: 32px;
            font-size: 1.25rem;
            line-height: 2rem;
            color: $light-300;
        }
    
        .tags {
            margin-bottom: 10%;
            color: $light-300;
            word-spacing: 1rem;
        }

    }

    .thumbnail {
        
        a {

            img {
                position: relative;
                bottom: 0;
                transform: scale(1);
                transition: $hover;
            }
            
            &:hover img {
                bottom: 1rem;
                transform: scale(1.025);
                box-shadow: $soft-xl;
            }
        }

    }
}


@media (max-width: 768px) {
    .project__columns {
        display: flex;
        flex-direction: column-reverse;
    }
}