@import "../../pages/styles/colors.scss";

.projectsmall {
    margin-bottom: 12rem;

    a {
        
        .thumbnail {
            
            img {
                margin-bottom: 1.5rem;
                width: 100%;
                height: auto;
                object-fit: cover;
                transform: scale(1);
                transition: $hover;
            }
        }
    
        .description {
            
            .tags {
                margin-bottom: 1rem;
                color: $light-300;
                // word-spacing: 1rem;
            }
    
            .projecttitle {
                font-size: 1.5rem;
                font-weight: 500;
                color: $dark-200;
            }
        }
    }

    &:hover .thumbnail img {
        transform: scale(1.025);
        box-shadow: $soft-l;
    }

}