@import "../../pages/styles/colors.scss";

.projectsmall {
    margin-bottom: 12rem;

    
    a {
        
        .thumbnail {
            display: block;
            position: relative;
            
            img {
                display: block;
                max-width: 100%;
                width: 100%;
                height: auto;
                position: relative;
                transform: scale(1);
                transform-origin: center center;
                transition: $hover-long;
            }

            .image__bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%; 
                z-index: -1;
                transform-origin: center center;
                transition: $hover-long;
            }
        }
        
        &:hover .thumbnail {
            img {
                transform: scale(1.1);
            }
            .image__bg {
                transform: scale(.8);
            }
        }

        .description {
            margin-top: 4rem;
            
            .project__description {
                display: flex;
                margin-bottom: 1rem;
                color: $light-300;
                
                hr {
                    position: relative;
                    top: .75rem;
                    margin: 0 1rem;
                    width: 2rem;
                    height: 1px;
                    background: $light-200;
                }
            }

    
            .projecttitle {
                font-size: 1.5rem;
                font-weight: 500;
                color: $dark-200;
            }
        }

    }
}

@media (max-width: 768px) {
    .projectsmall {
        margin-bottom: 6rem;
    }
}



@media (hover: none) {
    .projectsmall {
        a { 
            &:hover .thumbnail {
                img {
                    transform: inherit;
                }
                .image__bg {
                    transform: inherit;
                }
            }
        }
    }
}