@import "../../pages/styles/colors.scss";

.stage {
    // display: flex;
    // align-items: center;
    min-height: 100vh;

    .stage__container {
        margin-top: 10vh;

        .stage__columns {          
            align-items: center;

            .stage__title {
            
                .subtitle {
                    display: block;
                    margin-bottom: 32px;
                    font-size: 1.625rem;
                    line-height: 2.625rem;
                    color: $light-300;
                    font-weight: 400;

                    .supplement {
                        font-style: italic;
                        font-size: 1rem;
                        font-weight: 400;
                        color: $light-300;
                        white-space: nowrap;
                    }
                }              
            }

            .stage__illustration {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .scrolldown__position {
            position: absolute;
            top: calc(100vh - 10vh - 153px);
        }
    }
}

@media (max-width: 768px) {
    .stage  {
        padding-top: 1rem;

        .stage__container {

            .stage__columns {
                display: flex;
                flex-direction: column-reverse;
    
                .stage__title {
    
                    .subtitle {
                        font-size: 1.5rem;
                        line-height: calc(1.5rem * 1.6);
                    }
                }
            }
        }
    }
}