@import "../../pages/styles/colors.scss";

.stage {
    padding-top: 8rem;
    padding-bottom: 6rem;

    .stage__container {

        .stage__columns {            

            .stage__title {
                margin-top: 15%;

                .pagetitle {
                    margin: 0;
                    font-size: 3.5rem;
                    font-weight: 700;

                    strong {
                        font-weight: 700;
                        color: $blue-100;
                    }
                }
            
                .subtitle {
                    display: block;
                    margin-bottom: 32px;
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                    color: $light-300;
                }
                
            }
        }
    }
}

@media (max-width: 768px) {
    .stage {
        padding-top: 6rem;
        padding-bottom: 3rem;

        .stage__container {

            .stage__columns {
                display: flex;
                flex-direction: column-reverse;

                .stage__title {
                    margin-top: 1rem;

                    .pagetitle {
                        font-size: 2.5rem;
                    }
                
                    .subtitle {
                        margin-bottom: 1.5rem;
                        font-size: 1.375rem;
                        line-height: calc(1.375rem * 1.6);
                    }
                    
                }
            }
        }
    }
}