@import "../../pages/styles/colors.scss";

.stage {
    // display: flex;
    // align-items: center;
    min-height: 100vh;

    .stage__container {
        margin-top: 20vh;

        .stage__columns {          
            align-items: center;

            .stage__title {
            
                .subtitle {
                    display: block;
                    margin-bottom: 32px;
                    font-size: 1.75rem;
                    line-height: 2.625rem;
                    color: $light-300;
                }
                
            }

            .stage__illustration {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .scrolldown {
            margin-top: 4rem;
        }
    }
}

@media (max-width: 768px) {
    .stage__columns {
        display: flex;
        flex-direction: column-reverse;
    }
}