@import "../../pages/styles/colors.scss";

.button {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: $blue-100;
    padding: 0 32px 0 56px;
    transition: $hover;

    svg {
        position: absolute;
        top: 1rem;
        left: 0;
        transition: $hover;
        
        path {
            fill: $blue-100;
            transition: $hover;
        }
    }
    
    &:hover {
        background: $blue-100;
        color: white;
        box-shadow: $soft-m;

    }
    
    &:hover svg {
        left: 1rem;

        path {
            fill: white;
        }
    }
}