@import "../../pages/styles/colors.scss";

.centertext {
    padding-top: 6rem;
    padding-bottom: 6rem;

    p {
        font-size: 1.375rem;
        line-height: calc(1.375rem * 1.7);
        text-align: center;
        color: $light-300;
    }

}


@media (max-width: 768px) {
    .centertext {
        padding-top: 4rem;
        padding-bottom: 4rem;

        p {
            font-size: 1.125rem;
            line-height: calc(1.125rem * 1.7);
            text-align: left;
        }
    }
}