.fullwidthimage__container {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .fullwidthimage {
        width: 100%;
        height: auto;
    
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
