@import "../../pages/styles/colors.scss";

.image2 {
    padding-top: 8rem;
    padding-bottom: 8rem;

    &.padding {
        padding-top: 20rem;
    }

    .image2__columns {
        display: flex;
        align-items: center;

        img {
            margin: 0 auto;
        }
    }
}

@media (max-width: 768px) {
    .image2 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}