@import "../../pages/styles/colors.scss";

.intro {
    padding-top: 120px;
    padding-bottom: 120px;

    .description {

        .client {
            margin-bottom: 40px;
            font-size: .875rem;
            font-weight: 700;
            letter-spacing: .125rem;
            text-transform: uppercase;
            color: $light-300;
        }
    
        .projecttitle {
            font-size: 2.5rem;
            line-height: calc(2.5rem * 1.6);
            font-weight: 700;
        }
    
        .subtitle {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            line-height: calc(1.5rem * 1.6);
            color: $light-300;
        }
    
        .tags {
            color: $light-300;
            word-spacing: 1rem;
        }

    }
}