@import "../../pages/styles/colors.scss";

.labeltext {
    padding-top: 96px;
    padding-bottom: 104px;

    .label h5 {
        margin-top: 8px;
        font-size: .875rem;
        font-weight: 700;
        letter-spacing: .125rem;
        text-transform: uppercase;
        color: $light-300;
    }

    .headline {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    p {
        font-size: 1.25rem;
        line-height: calc(1.25rem * 1.7);
    }

}