@import "../../pages/styles/colors.scss";

.pagination {
    padding-top: 0;
    padding-bottom: 0;

    .pagination__links {
        display: flex;
        height: 104px;
        align-items: center;

        .spacer {
            flex: 1;
        }

        .previous a, .next a {
            position: relative;
            display: flex;
            padding: .5rem .125rem;
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .125rem;
            line-height: 24px;
            color: $dark-200;
            transition: $hover;

            svg path {
                fill: $dark-200;
                transition: $hover;
            }

            &::before {
                position: absolute;
                z-index: -1;
                content: '';
                height: calc(100%);
                width: 0;  
                bottom: 0;
                left: 0;
                background: $blue-100;
                transition: $hover;
            }

            &:hover {
                color: white;

                &::before {
                    width: 100%;
                }

                svg path {fill: white;}
            }
        }

        .previous a {
            svg {margin-right: 1rem;}
        }

        .next a {
            svg {margin-left: 1rem;}
        }
    }
}