@import "../../pages/styles/colors.scss";

.request {
    padding: 144px 0;
    background: #F5F8FA;
    text-align: center;

    h3 {
        font-size: 3rem;
        color: $light-300;

        a {
            position: relative;
            z-index: 1;
            color: $dark-200;
            transition: $hover;

            &:after {
                position: absolute;
                z-index: -1;
                content: '';
                height: 4px;
                width: 100%;  
                bottom: -4px;
                left: 0;
                background: $blue-100;
                transition: $hover;
            }

            &:hover {
                color: white;
            }

            &:hover:after {
                height: calc(100% + 8px);
            }
        }
    }
}