@import "../../pages/styles/colors.scss";

.request {

    .wrapper {
        display: flex;
        padding-top: 9rem;
        padding-bottom: 9rem;
        
        .copy {
            display: inline-flex;
            flex-direction: column;
            margin: 0 auto;
    
            .question {
                font-size: 1.5rem;
                color: $light-300;
            }
        
            .contactlink {
                font-size: 5rem;
                font-weight: 600;
                color: $dark-200;

                a {
                    position: relative;
                    z-index: 1;
                    color: $blue-100;
                    transition: $hover;
        
                    &:after {
                        position: absolute;
                        z-index: -1;
                        content: '';
                        height: 0;
                        width: 100%;  
                        bottom: -4px;
                        left: 0;
                        background: $blue-100;
                        transition: $hover;
                    }
        
                    &:hover {
                        color: white;
                    }
        
                    &:hover:after {
                        height: calc(100% + 8px);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .request {
        padding: 6rem 0;
        
        h3 {
            font-size: 2rem;
        }
    }
}