@import "../../pages/styles/colors.scss";


.skills {
    position: sticky;
    top: 0;

    p {margin-bottom: 16px;}

    .howiwork {
        margin-bottom: 64px;

        .pagetitle {
            margin: 0;
            font-size: 4.5rem;
            font-weight: 700;
        }
    
        .subtitle {
            display: inline-block;
            margin-bottom: 16px;
            font-size: 1.25rem;
            line-height: 2rem;
            color: $light-300;
        }
    }

    .tools {
        .label {
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: .875rem;
            font-weight: 600;
            letter-spacing: .125rem;
            text-transform: uppercase;
            color: $light-300;
        }
    }   
}