@import "../../pages/styles/colors.scss";

.tabbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $light-200;
    display: flex;
    background: white;
    z-index: 999;

    a {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        padding: .75rem 0 .5rem;
        font-size: .688rem;
        color: $light-300;
        user-select: none;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

        // Ripple Effect Start
        position: relative;
        overflow: hidden;

        &:after {
            display: none;
            content: "";
            position: absolute;
            border-radius: 50%;
            background-color: rgba(85,111,242, 0.3);
            
            width: 100px;
            height: 100px;
            margin-top: -50px;
            margin-left: -50px;
            
            /* Center the ripple */
            top: 50%;
            left: 50%;

            animation: ripple 1s;
            opacity: 0;
        }

        &:focus:not(:active)::after {
            display: block;
        }      
        // Ripple Effect End

        &.active {
            color: $blue-100;
        }

        svg {
            display: block;
            fill: $light-300;
            margin-bottom: .25rem;
        }

        &.active svg {
            fill: $blue-100;
        }
    }
}

@media (min-width: 769px) {
    .hidden {
        display: none;
    }
}

// Ripple Animation

@keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(10);
    }
  }