$light-100: #FFFFFF;
$light-200: #D6D8E5;
$light-300: #A8ABBC;

$dark-100: #242459;
$dark-200: #141733;
$dark-300: #0C0E1F;

$yellow-100: #FFC785;
$yellow-200: #FFB057;

$turquiose-100: #8ADEE5;
$turquiose-200: #50D9E5;
$turquiose-300: #33BFCC;
$turquiose-400: #299BA6;

$blue-100: #556FF2;
$blue-200: #3D55CC;
$blue-300: #364AB2;
$blue-400: #1F2A66;
$blue-500: #17204C;

$hover: all 300ms ease-in-out;

$soft-xl: 0 32px 64px -16px rgba(20, 23, 51, 0.8);
$soft-l: 0 24px 48px -12px rgba(20, 23, 51, 0.4);
$soft-m:  0 20px 25px -5px rgba(20, 23, 51, 0.2), 0 10px 10px -5px rgba(20, 23, 51, 0.08);
$soft-s: 0 4px 6px -1px rgba(20, 23, 51, 0.1), 0 2px 4px -1px rgba(20, 23, 51, 0.06);
