html {
    height: 100%;
    min-height: 100%;

    body {
        margin: 0;
        height: 100%;
        min-height: 100%;
        color: $dark-200;

        main {

            .react-reveal:last-child .accordionwrapper {
                border-bottom: none;
            }

            .imprint,
            .privacy-policy {
                padding-top: 8rem;
                padding-bottom: 8rem;
                color: $dark-200;

                strong {font-weight: 500;}

                h1.headline {
                    margin-bottom: 0;
                    font-size: 3rem;
                    font-weight: 600;
                }
                h2.subtitle {
                    margin-bottom: 3rem;
                    font-size: 1.5rem;
                    color: $light-300;
                }
                h3 {
                    margin-top: 4rem;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                h4.label {
                    margin-bottom: 1rem;
                    font-size: .875rem;
                    font-weight: 600;
                    letter-spacing: .125rem;
                    text-transform: uppercase;
                    color: $light-300;
                }
                p.paragraph {
                    margin-bottom: 2rem;
                    font-size: 1.125rem;
                    line-height: 2rem;
                }

                a {
                    color: $blue-100;

                    &:hover {text-decoration: underline;}
                }

                .list {
                    margin-bottom: 2rem;
                    box-shadow: none;

                    li {
                        font-size: 1.125rem;
                        line-height: 2rem;
                        list-style: disc;
                    }
                }
            }

            .project-small:nth-child(even) {
                margin-top: 6rem;
            }
        }
    }
}

@media (max-width: 768px) {
    html {
        body {
            main {
                .imprint,
                .privacy-policy {
                    padding-top: 4rem;
                    padding-bottom: 4rem;

                    h1.headline {
                        margin-bottom: 0;
                        font-size: 1.875rem;
                        font-weight: 600;
                    }

                    h2.subtitle {
                        margin-bottom: 3rem;
                        font-size: 1.25rem;
                        color: $light-300;
                    }

                    p.paragraph {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }

                    .list {
                        li {
                            font-size: 1rem;
                            line-height: 1.5rem;
                        }
                    }

                    a {
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}


// Custom Cursor Styles 

body {
    cursor: url("../images/cursor/cursor-default.svg"), auto;

    a {
        transition: all 300ms ease-in-out;
        cursor: url("../images/cursor/cursor-default.svg"), auto;
    }
    
    a:hover {
        cursor: pointer;
    }
}

