html {
    height: 100%;

    body {
        height: 100%;
        color: $dark-200;

        main {
            

            // .accordion-section:last-child .accordionwrapper {
            //     border-bottom: none;
            // }
        }
    }
}