html {
    height: 100%;

    body {
        height: 100%;
        color: $dark-200;

        main {

            .accordionwrapper:last-child {
                border-bottom: none;
            }
        }
    }
}