body, html, h1, h2, h3, h4, h5, a, p, span, div, i, em, strong {
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    font-display: swap;
}

p {
    line-height: 1.75rem;
}