@import "../../pages/styles/colors.scss";

.togglebutton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48px;
    height: 48px;
    background: white;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    transition: $hover;

    &:focus {
        outline: none;
    }

    &:hover {
        background: $blue-100;
        box-shadow: $soft-m;
    }

    &:hover .togglebutton__line {
        background: white;
    }

    .togglebutton__line {
        margin-left: 12px;
        width: 24px;
        height: 2px;
        background: $dark-200;
        transition: $hover;

        &:nth-child(1) {
            margin-top: 1rem;
        }

        &:nth-child(2) {
            margin-bottom: 1rem;
            width: 16px;
        }
    }
}