@import "../../pages/styles/colors.scss";

.chatbubble {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    box-shadow: $soft-m;
    background-color: $dark-200;
    border-radius: .25rem;
    font-size: 1.375rem;
    line-height: 2.5rem;
    color: white;

    &:after {
        content: "\00a0";
        position: absolute;
        display: inline-block;
        width:  12px;
        height: 12px;
        left: -10px;
        top: 48%;
        transform: rotate( 45deg ) translateY(-50%);
        background-color: $dark-200;
        box-shadow: $soft-m;
    }
}


// Media Queries Start

@media (max-width: 768px) {
    .chatbubble {
        margin-bottom: 1.5rem;
        padding: .5rem 1.5rem;
        font-size: 1.125rem;
    }
}