@import "../../pages/styles/colors.scss";

.scrolldown {
  position: absolute;
  top: calc(100vh - 20vh - 153px);

  .label {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: $light-300;
  }

  .slider {
    position: absolute;
    // bottom: 0%;
    width: 2px;
    height: 80px;
    overflow-y: hidden;
  
    .line{
      position: absolute;
      opacity: 0.4;
      background: $blue-100;
      height: 150%;
      width: 2px;
    }
    
    .subline{
      position: absolute;
      background: $blue-200;
      width: 2px; 
    }
    
    .inc{
      animation: increase 2s infinite;
    }
  
    .dec{
      animation: decrease 2s 0.5s infinite;
    }
  
  }
}

    
    
@keyframes increase {
  from { top: -5%; height: 5%; }
  to { top: 130%; height: 100%;}
}

@keyframes decrease {
  from { top: -80%; height: 80%; }
  to { top: 110%; height: 10%;}
}

  